.container {
  width: 375px;
  height: 812px;
  background: #141414;
  margin: 0 auto;
  padding: 20px;
}
.boxForm {
  border-radius: 30px;
  height: 411px;
  background: #1f1f1f;
  padding: 20px 20px 40px;
  margin-bottom: 10px;
}
.icon {
  fill: #f9f9f9;
  width: 42px;
  height: 17px;
  display: block;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  margin-top: 40px;
  margin-bottom: 20px;
}

.span {
  color: rgba(227, 227, 227, 0.5);
}
.nowrap {
  white-space: nowrap;
  display: block;
}
.nowrapSecond {
  display: inline;
  white-space: nowrap;
  margin-top: 0;
}
.input {
  border-radius: 12px;
  padding: 14px 148px 14px 14px;
  width: 295px;
  height: 44px;
  background: #262626;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-align: left;
  color: #686868;
  margin-bottom: 8px;
}
.password {
  position: relative;
}
.eye {
  position: absolute;
  top: 13px;
  right: 13px;
}
.btnReg {
  border-radius: 30px;
  padding: 12px 45px;
  width: 131px;
  height: 42px;
  background: #f9f9f9;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #1f1f1f;
  margin-top: 64px;
  margin-right: 14px;
}
.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}
.boxPicture {
  width: 335px;
  height: 351px;
  border-radius: 30px;
  width: 335px;
  height: 351px;
  background: #1f1f1f;
  padding: 20px 40px 0;
}
